<app-modal-base
  [showModal]="isModalCheckActive"
  [showHeader]="true"
  [title]="'Confirmação dos dados'"
  [isModalForm]="true">
  <div class="body-block lg:grid grid-cols-2 gap-3 text-sm">
    <div>
      @for (data of arrayFormData.slice(firstIdx1, lastIdx1); track $index) {
        @if (data.description != '0' && data.title != 'isCnpj') {
          <div
            class="grid grid-cols-3 gap-2 border-t lg:last:border-b border-gray-500 p-2">
            <p>
              {{ data.title == 'cnpj' ? 'cpf/cnpj' : data.title
              }}<span> : </span>
            </p>
            <p class="col-span-2">
              {{
                data.title == 'cadastro'
                  ? (data.description | date: 'dd/MM/YYYY')
                  : data.description
              }}
            </p>
          </div>
        }
      }
    </div>
    <div>
      @for (data of arrayFormData.slice(firstIdx2, lastIdx2); track $index) {
        @if (data.description != '0' && data.title != 'isCnpj') {
          <div
            class="grid grid-cols-3 gap-2 border-t last:border-b border-gray-500 p-2">
            <p>{{ data.title }}<span> : </span></p>
            <p class="col-span-2">{{ data.description }}</p>
          </div>
        }
      }
    </div>
  </div>
  <div class="footer-block grid grid-cols-2 gap-3 mt-5">
    <app-button-standard
      [btnType]="'cancel'"
      (click)="closeModalCheck()"></app-button-standard>
    @if (!isEditForm) {
      <app-button-standard
        [btnType]="'success-save'"
        (click)="registerData()"></app-button-standard>
    } @else {
      <app-button-standard
        [btnType]="'success-edit'"
        (click)="editData()"></app-button-standard>
    }
  </div>
</app-modal-base>
<app-modal-info
  [showModal]="isModalInfoActive"
  [modalType]="modalInfo.modalType"
  [modalDescription]="modalInfo.modalDescription"
  (closeModalEmitter)="closeModalInfoAfterRegisterOk($event)"></app-modal-info>
<app-loading [showLoading]="showLoading"></app-loading>
