<div class="flex flex-col align-middle">
  <section
    class="text-white text-lg font-semibold mt-2 border leading-4 border-gray-500 p-2 rounded text-center">
    <h1>Cadastro de Clientes</h1>
  </section>
  <section class="my-4">
    <app-filter
      [tableHeadersData]="tableHeadersData"
      (tableHeaderDataEmitter)="tableHeadersData = $event"
      (showModalNewRegisterEmitter)="isModalNewCompanyActive = $event"
      (inputValueEmitter)="inputValue = $event"
      (selectValueEmitter)="selectValue = $event"
      (isPaginationResetEmitter)="isPaginationReset = true"></app-filter>
  </section>
  <section>
    <app-table
      #tableComponent
      [registerType]="'customers'"
      [tableUpdated]="tableUpdated"
      [inputValueFilter]="inputValue"
      [selectValueFilter]="selectValue"
      [companyTableHeaders]="tableHeadersData"
      [tableInitialIdx]="tableInitialIdx"
      [tableLastIdx]="tableLastIdx"
      (resetPaginationEmitter)="isPaginationReset = $event"
      (tableHeadersDataEmitter)="tableHeadersData = $event"
      (tableUpdatedEmitter)="tableUpdated = $event"
      (tableDataEmitter)="tableData = $event"></app-table>
  </section>
  <footer class="my-4">
    <app-pagination
      [tableData]="tableData"
      [isPaginationReset]="isPaginationReset"
      (tableInitialIdx)="tableInitialIdx = $event"
      (tableLastIdx)="tableLastIdx = $event"></app-pagination>
  </footer>
</div>
<app-modal-form-company
  [registerType]="'customers'"
  [isModalFormCompanyActive]="isModalNewCompanyActive"
  (resetPageEmitter)="resetPage($event)"
  (closeModalFormEmitter)="
    isModalNewCompanyActive = $event
  "></app-modal-form-company>
