<div>
  <section>
    <div class="text-white">
      <label for="">Filtro 1</label>
      <div class="flex"></div>
    </div>
  </section>
  <section class="overflow-auto mt-3 h-full border border-gray-500">
    <table class="text-white w-full h-full text-sm text-center">
      <thead
        class="bg-gray-900 sticky position-negative-0-5 z-20 border border-gray-500">
        <tr>
          <th class="table-td">Id</th>
          <th class="table-td">Name</th>
          <th class="table-td">Lougrauro</th>
          <th class="table-td">Numero</th>
          <th class="table-td">Complemento</th>
          <th class="table-td">Bairro</th>
          <th class="table-td">Cidade</th>
          <th class="table-td">Estado</th>
          <th class="table-td">Ações</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-500 border border-gray-500">
        <tr>
          <td class="table-td">1</td>
          <td class="table-td">Rafael Horauti</td>
          <td class="table-td">Rua Neide de Barros Amaro</td>
          <td class="table-td">213</td>
          <td class="table-td">QD 10 LT 26</td>
          <td class="table-td">Horto Florestal</td>
          <td class="table-td">Sorocaba</td>
          <td class="table-td">SP</td>
          <td class="table-td">
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
        <tr>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td class="py-2 px-1">1</td>
          <td>
            <button class="bg-logo-purple mr-2 p-1">Edit</button>
            <button class="bg-red-500 p-1">Del</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
