<div class="flex h-full grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6">
  <div class="flex h-16 shrink-0 items-center">
    <img
      class="h-8 w-auto"
      src="../../../assets/images/logo.png"
      alt="Your Company" />
  </div>
  <nav class="flex flex-1 flex-col text-gray-400 hover:text-white">
    <h2 class="mb-3">Cadastros</h2>
    <ul role="list" class="flex flex-1 flex-col mx-2 space-y-1">
      <li>
        <a
          href="#"
          class="bg-gray-800 text-white flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          Clientes
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-gray-400 hover:bg-gray-800 flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          Fornecedores
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          Atari
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          Compras
        </a>
      </li>
    </ul>
  </nav>
</div>
