@if (isSideBarActive) {
  <!-- <nav class="lg:hidden bg-gray-900 w-full text-white">
    <mat-icon>menu</mat-icon>
  </nav> -->
  <nav class="flex flex-col h-full gap-y-3 bg-gray-900 px-3">
    <div class="flex justify-between items-center h-16 shrink-0">
      <div
        (click)="clearSubLinkSelection()"
        class="flex items-center cursor-pointer">
        <a routerLink="/welcome" class="flex items-center">
          <img
            class="h-8 w-auto"
            src="../../../assets/images/logo.png"
            alt="Your Company" />
          <p class="font-semibold text-gray-400 ml-2">Nakano</p>
        </a>
      </div>
      <mat-icon
        (click)="hideSideBar()"
        class="text-white bg-gray-800 rounded-full cursor-pointer ml-6"
        >keyboard_arrow_left</mat-icon
      >
    </div>
    <div class="lg:visible flex flex-col text-gray-400">
      @for (link of links; track $index) {
        <ul role="list" class="flex flex-col mx-2 space-y-1">
          <div
            (click)="toogleLink(link)"
            class="flex justify-between cursor-pointer">
            <h2 class="mb-1 font-bold">{{ link.name }}</h2>
            <div #linkIcon>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
          <div class="is-not-colapsed mb-2" #linkItem>
            @for (sublink of link.sublinks; track $index) {
              <li>
                <a
                  (click)="selectSubLink(sublink)"
                  [routerLink]="sublink.routerLink"
                  class="text-gray-400 hover:text-white hover:bg-gray-800 flex rounded-md px-3 py-1 text-sm leading-6 font-semibold"
                  [ngClass]="sublink.isSelected ? 'link-is-active' : ''">
                  {{ sublink.name }}
                </a>
              </li>
            }
          </div>
        </ul>
      }
    </div>
  </nav>
}
