@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
}

.table-td {
  @apply py-1.5 px-3 whitespace-nowrap;
}

.link-is-active {
  @apply text-white bg-gray-800
}

.is-not-colapsed {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.is-colapsed {
  max-height: 100%;
  padding-bottom: 0.5rem;
}

@layer components {
  .position-negative-top {
    top: -0.1px;
  }
}
