@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
}

.table-td {
  @apply py-2 px-3 whitespace-nowrap;
}

@layer components {
  .position-negative-0-5 {
    top: -0.1px;
  }
}
