<div
  class="flex flex-col lg:flex-row lg:justify-between lg:items-end w-full gap-6">
  <div class="text-white flex flex-col lg:flex-row gap-3">
    <div class="lg:w-1/2 flex flex-col lg:flex-row lg:items-center gap-3">
      <label class="text-sm" for="">Id</label>
      <app-input-form [inputClass]="'text-white'"></app-input-form>
    </div>
    <div class="lg:w-1/2 flex flex-col lg:flex-row lg:items-center gap-3">
      <label class="text-sm" for="">Nome</label>
      <app-input-form [inputClass]="'text-white'"></app-input-form>
    </div>
  </div>
  <div class="flex flex-1 flex-col lg:flex-row lg:justify-end gap-6">
    <div class="lg:w-1/4">
      <app-button-standard
        [btnType]="'transparent'"
        [showIcon]="true"
        [btnIcon]="'menu'"
        [border]="'border'"
        [label]="'Colunas'"></app-button-standard>
    </div>
    <div class="lg:w-1/4">
      <app-button-standard
        [btnType]="'transparent'"
        [showIcon]="true"
        [btnIcon]="'exit_to_app'"
        [border]="'border'"
        [label]="'svg'"></app-button-standard>
    </div>
    <div class="lg:w-1/4">
      <app-button-standard
        (click)="showNewRegister()"
        [showIcon]="true"
        [btnIcon]="'add'"
        [label]="'Cadastro'"></app-button-standard>
    </div>
  </div>
</div>
