<div
  class="bg-black min-h-screen flex flex-col justify-center px-4 py-4 sm:mx-auto max-[450px]:mt-2 max-[450px]:mb-2 sm:w-full sm:max-w-sm">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-white">
      Redefinição de senha!
    </h2>
  </div>
  <div class="mt-4 mb-6">
    <label
      for="email"
      class="block mb-2 text-sm font-medium leading-6 text-white"
      >E-mail</label
    >
    <app-input-login
      (emitInputValue)="getEmailValue($event)"
      [isEmail]="true"
      [showIconRight]="false"
      [iconLeft]="'email'"
      [placeholder]="'teste@exemplo.com'"></app-input-login>
  </div>
  <app-button-standard
    (click)="getEmailValidation()"
    [label]="'Enviar'"></app-button-standard>
  <p class="mt-4 text-center text-sm text-gray-400">
    Já possui cadastro?
    <span
      (click)="redirectToLoginPage()"
      aria-hidden="true"
      class="font-semibold leading-6 text-logo-blue-hover hover:text-logo-blue cursor-pointer">
      Clique aqui!</span
    >
  </p>
</div>
<app-loading [showLoading]="isLoadingActive"></app-loading>
<app-modal-info
  [showModal]="isModalActive"
  [modalType]="modalInfo.modalType"
  [modalDescription]="modalInfo.modalDescription"
  (closeModalEmitter)="closeModal($event)"></app-modal-info>
